* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth; 
}
body {
    overflow-x: hidden;
}
/* ---------------- fonts  --------------------*/

/* londrina-shadow-regular */
@font-face {
  font-display: swap; 
  font-family: 'Londrina Shadow';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/londrina-shadow-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* londrina-solid-300 */
@font-face {
  font-display: swap; 
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/londrina-solid/londrina-solid-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* londrina-solid-regular */
@font-face {
  font-display: swap; 
  font-family: 'Londrina Solid';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/londrina-solid/londrina-solid-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bagel-fat-one-regular */
@font-face {
  font-display: swap; 
  font-family: 'Bagel Fat One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/bagel-fat-one-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/inter/inter-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular */
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter/inter-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ---------------- header ------------------- */
nav {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}
.nav-item {
    padding: 2px;
    margin: 0 1vw;
    font-family: "Bagel Fat One";
    font-size: 1.3em;
}
.nav-item a {
    text-decoration: none;
    color: black;  
}
.nav-item a:hover {
    cursor: pointer;
    color: white;
    transition: color .2s;
}
.nav-item:nth-child(2) {
    margin-right: 3vw;
}
header {
    position: relative;
    overflow: hidden;
    height: 80vh;
}
#main-header-stack {
    position: relative;
}
#main-header {
    width: 100vw;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: clamp(55px, 10vw, 140px);
    font-family: "Londrina Shadow";
    font-weight: normal;
}
#main-header-fill {
    width: 100vw;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: clamp(55px, 10vw, 140px);
    font-family: "Londrina Solid";
    font-weight: normal;
    color: white;
}

#dev-computer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10em;
    margin-bottom: 10px;
}
.seperator {
    width: 100vw;
    height: 2px;
    background-color: black;
}

/* ---------------- about me section ------------------- */
main h2 {
    margin: 2vw;
    text-align: left;
    font-family: 'Londrina Shadow';
    font-size: 6vw;
    font-weight: normal;
}
section#about-me {
    display: flex;
}
@media screen and (max-width: 799px) {
    header nav {
        justify-content: space-around;
    }
    header .nav-item, header .nav-item:nth-child(2) {
        margin: 0;
        font-size: 1.5em;
    }
    section#about-me {
        flex-direction: column;
    }
    section #about-header {
        font-size: 4em;
        margin: 0 auto;
    }
    section #about-cont {
        order: 2;
    }
    section #about-box {
        width: 100%;
    }
    section #profile-pic-cont {
        order: 1;
        margin: 2vh auto;
        width: 60vw;
    }
    section #skills-cont {
        margin: 2vh auto;
    }
    section #skills-header {
        margin: 1vh auto;
        font-size: 4em;
    }
    section #skills-box {
        justify-content: center;
        gap: 4vw;
    }
}
@media screen and (min-width: 800px) and (max-width: 1199px) {
    section#about-me {
        flex-direction: column;
    }
    section #about-header {
        font-size: 4em;
        margin: 0 auto;
    }
    section #about-cont {
        order: 2;
    }
    section #about-box {
        width: 100%;
    }
    section #profile-pic-cont {
        order: 1;
        margin: 4vw auto 0;
        width: 25vw;
    }
    section #skills-cont {
        margin: 2vh auto;
    }
    section #skills-header {
        margin: 1vh auto;
    }
    section #skills-box {
        justify-content: center;
        gap: 2vw
    }
}
#about-cont {
    margin: 3vw 4vw 2vw;
}
#profile-pic-cont {
    display: flex;
    align-items: center;
    width: 25vw;
    margin: 5vw 4vw;
    padding: 1vw;
}
#profile-pic {
    width: 100%;
    box-shadow: 0px 0px 4px 2px rgb(174, 174, 174);
}
#about-header {
    text-align: left;
    width: fit-content;
}
#about-box {
    margin: 5px 2vw;
    width: 45vw;
    padding: 10px;
    font-family: "Inter";
    font-size: 1.5em;
    font-weight: 300;
}
#skills-cont {
    margin: 0 4vw 5vh;
    width: 85vw;
}
#skills-header {
    text-align: left;
    width: fit-content; 
}
#skills-header.animated {
    animation: bounce 0.5s forwards ease-out;
}
@keyframes bounce {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(0.90)
    }
    45% {
        transform: scale(1.05);
    }
    55% {
        transform: scale(1);
    }
}
#skills-box {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 2vw;
    gap: 5px;
}
.skill {
    width: 8vw;
    padding: 0 1vw;
    opacity: 0;
    transition: all 0.2s;
    cursor: pointer;
}
@media screen and (max-width: 499px) {
    section .skill {
        width: 25vw;
    }
}
@media screen and (min-width: 500px) and (max-width: 599px) {
    section .skill {
        width: 20vw;
    }
}
@media screen and (min-width: 600px) and (max-width: 699px) {
    section .skill {
        width: 17vw;
    }
}
@media screen and (min-width: 700px) and (max-width: 799px) {
    section .skill {
        width: 15vw;
    }
}
@media screen and (min-width: 800px) and (max-width: 999px) {
    section .skill {
        width: 12vw;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
    section .skill {
        width: 10vw;
    }
}
.skill:hover {
    transform: scale(1.20);
}

#text-skills-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 5vh 0 0 0;
}
.text-skill {
    height: fit-content;
    width: 100%;
    font-family: "Inter";
    font-weight: normal;
    font-size: 2em;
    line-height: 0.1;
    text-wrap: nowrap;
    padding: 0.5em;
}

/* ---------------- projects section ------------------- */
#projects-cont {
    margin: 0 4vw 5vh;
}
#projects-header {
    text-align: left;
}
#projects-box {
    margin: 0 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
.proj {
    display: flex; 
    width: 80vw;
    height: 50vh;
    margin-bottom: 5vh;
    align-items: center;
    font-family: "Inter";
    font-weight: 300;
    text-align: center;
    position: relative;
    transition: all 0.3s;
    box-shadow: 0px 0px 2px black;
}
@media screen and (max-width: 800px) {
    section#projects #projects-header {
        text-align: center;
        font-size: 4em;
        margin-bottom: 5vh;
    }
    section#projects .proj {
        flex-direction: column;
        width: 100%;
        height: fit-content
    }
    section#projects .proj-img-container {
        width: 100%;
        aspect-ratio: 1.75;
    }
    section#projects .proj-content {
        width: 100%;
    }
    section#projects .proj-btn-box {
        margin-top: 4vh;
        gap: 8vw;
    }
}
@media screen and (min-width: 800px) and (max-width: 1199px) {
    section#projects #projects-header {
        text-align: center;
    }
}

.proj-content {
    display: flex;
    height: 100%;
    width: 40vw;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    border-right: solid 1px rgb(121, 121, 121);
}
.proj-title {
    margin-bottom: 1em;
}
.proj:hover {
    transform: translateY(-0.5em);
    box-shadow: rgb(131, 131, 131) 0 5px 5px;
}
.proj-img-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.proj-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.proj-overlay {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 236, 22, 0.211);
    font-size: 2em;
    font-family: "Londrina Solid";
    color: white;
    transition: opacity 0.3s ease;
}
.overlay-text {
    background-color: #3eb18b;
    border-radius: 10px;
    padding: 10px;
}
.proj-img-container:hover .proj-overlay {
    opacity: 1;
}
.technology {
    font-weight: 400;
}
.proj-btn-box {
    display: flex;
    gap: 2vw;
    width: fit-content;
    margin: 1vh auto;
}
.proj-btn-box a {
    border: 1px solid black;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    transition: background-color 0.3s;
}
.proj-btn-box a:hover {
    background-color: rgb(213, 213, 213);
}

/* ---------------- footer ------------------- */
footer {
    position: relative;
    display: flow-root;
    height: 12vh;
    background-color: #3eb18b;
    font-family: "Inter";
    font-weight: 300;
}
#footer-box {
    margin: 2vw;
}
#copy {
    position: absolute;
    top: 2vw;
    right: 1vw;
}
@media screen and (max-width: 500px) {
    body footer {
        height: fit-content;
        padding-bottom: 5px;
    }
    footer #footer-box {
        display: flex;
        flex-direction: column;
        gap: 3vh;
    }
    #footer-box #copy {
        position: static;
    }
}
/* ---------------- Header animation ------------------- */
@keyframes background {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
.background {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #3eb18b;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    z-index: -1;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: background 50s linear infinite;
}

.background li:nth-child(0) {
    left: 7%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 42%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 67%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    left: 52%;
    width: 85px;
    height: 85px;
    bottom: -85px;
    animation-delay: 6s;
}
.background li:nth-child(4) {
    left: 5%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 4s;
}
.background li:nth-child(5) {
    left: 86%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 21s;
}
.background li:nth-child(6) {
    left: 68%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 8s;
}

