* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth; 
}
body {
    overflow-x: hidden;
}
/* ---------------- fonts  --------------------*/
/* 
Bagel Fat One
Londrina Shadow
Londrina Solid
Inter
*/

/* ---------------- header ------------------- */
nav {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}
.nav-item {
    width: clamp(20px 3vw 40px);
    padding: 2px;
    margin: 0 1vw;
    font-family: "Bagel Fat One";
    font-size: 1.3em;
}
.nav-item a {
    text-decoration: none;
    color: black;  
}
.nav-item a:hover {
    cursor: pointer;
    color: white;
    transition: color .2s;
}
.nav-item:nth-child(2) {
    margin-right: 3vw;
}
header {
    position: relative;
    overflow: hidden;
    height: 80vh;
}
#main-header-stack {
    position: relative;
}
#main-header {
    width: 100vw;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: clamp(55px, 10vw, 140px);
    font-family: "Londrina Shadow";
    font-weight: normal;
}
#main-header-fill {
    width: 100vw;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: clamp(55px, 10vw, 140px);
    font-family: "Londrina Solid";
    font-weight: normal;
    color: white;
}
@media (max-width: 800px) {
    header #main-header {
        font-size: clamp(55px, 10vw, 70px);
    }
}
#dev-computer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10em;
    margin-bottom: 10px;
}
.seperator {
    width: 100vw;
    height: 2px;
    background-color: black;
}

/* ---------------- about me section ------------------- */
main h2 {
    margin: 2vw;
    text-align: center;
    font-family: 'Londrina Shadow';
    font-size: 6vw;
    font-weight: normal;

}
#about-header {
    text-align: left;
    margin: 1rem 0 auto 3rem;
}
#about-box {
    margin: 0 0 auto 4rem;
    width: 45vw;
    padding: 10px;
    font-family: "Inter";
    font-size: 1.5em;
    font-weight: 300;
}
#skills-cont {
    margin: 5vw auto;
    width: 85vw;
    padding: 10px;
    border-radius: 10px;
}
#skills-header {
    text-align: left;
    margin: 5px 2vw 2vh 2vw;
}
#skills-box {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 2vw;
    gap: 5px;
}
#skills-box img {
    width: 8vw;
}
.skill {
    padding: 0 1vw;
    opacity: 0;
    transition: all 0.2s;
    cursor: pointer;
}
.skill:hover {
    transform: scale(1.20);
}

#text-skills-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 5vh 0 0 0;
}
.text-skill {
    height: fit-content;
    width: 100%;
    font-family: "Inter";
    font-weight: normal;
    font-size: 2em;
    line-height: 0.1;
    text-wrap: nowrap;
    padding: 0.5em;
}

/* ---------------- projects section ------------------- */
.projects-container {
    margin-bottom: 4vh;
    display: flex;
    gap: 2vw;
    justify-content: center;
}
.proj {
    display: flex;
    flex-direction: column;
    height: 46vh;
    width: 18vw;
    border-radius: 15px;
    background-color: #3eb18b;
    font-family: "Inter";
    font-weight: 300;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}
.proj:hover {
    transform: translateY(-0.5em);
    box-shadow: rgb(131, 131, 131) 0 5px 5px;
}
.img-container {
    width: 100%;
    height: 50%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 2px solid white;
    background-color: white;
    margin-bottom: 1vh;
}

.proj img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.proj-1 .img-container {
    background-color: black;
}
.proj img:nth-of-type(1) {
    padding: 5px;
}
.proj-title, .proj-desc {
    margin: 0 4px 0 8px;
}
.technology {
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}
.proj-btn-box {
    width: fit-content;
    display: block;
    margin: 1vh auto;
    margin-top: auto;
}
.proj-btn-box a {
    border: none;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
@media (max-width: 800px) {
    main .projects-container {
        flex-direction: column;
        align-items: center;
    }
    main .proj {
        height: 45vh;
        width: 80vw;
    }
}

/* ---------------- footer ------------------- */
footer {
    position: relative;
    display: flow-root;
    height: 12vh;
    background-color: #3eb18b;
    font-family: "Inter";
    font-weight: 300;
}
#footer-box {
    margin: 2vw;
}
#copy {
    position: absolute;
    top: 2vw;
    right: 1vw;
}

/* ---------------- Header animation ------------------- */
@keyframes background {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
.background {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #3eb18b;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    z-index: -1;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: background 50s linear infinite;
}

.background li:nth-child(0) {
    left: 7%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 42%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 5s;
}
.background li:nth-child(2) {
    left: 67%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 3s;
}
.background li:nth-child(3) {
    left: 52%;
    width: 85px;
    height: 85px;
    bottom: -85px;
    animation-delay: 6s;
}
.background li:nth-child(4) {
    left: 5%;
    width: 129px;
    height: 129px;
    bottom: -129px;
    animation-delay: 4s;
}
.background li:nth-child(5) {
    left: 86%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 21s;
}
.background li:nth-child(6) {
    left: 68%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 8s;
}

